*{
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.navbar1{
    background-color: #515154 !important;
}
.logo{
    height: 50px;
    width: auto;
}
.nav-item{
    height: 65px;
}
.nav-link{
    padding-top: 30%;
}
.dropdown-toggle{
    padding-top: 15%;
}
.nav-item .dropdown:last-child{
    margin-top: 3px;
}
.d-flex{
    padding-top: 10px;
}
.d-flex1{
   margin-top: -8px;
}
.productinfo .card-title{
    font-size: 18px;
    font-weight: bold;
}
.productinfo .card-text{
    font-size: 17px;
}
.card{
    padding: 10px 10px;
    box-shadow: 2px 2px 2px 2px rgb(130, 130, 130);
    margin-bottom: 20px;
    border-radius: 7px;
}
a {
    color: #0d6efd;
    text-decoration: none;
}
.carousel {
    width: 100%;
    position: relative;
}
.container2 {
    width: 88%;
    margin: 10px auto;
}
